[submodule "data/SqueezeNet_vs_CIFAR10.git"]
	path = data/SqueezeNet_vs_CIFAR10
	url = https://github.com/yan12125/SqueezeNet_vs_CIFAR10
	ignore = untracked
[submodule "Tools"]
	path = Tools
	url = ssh://git@github.com/EMCLab-Sinica/Tools.git
[submodule "data/ML-KWS-for-MCU"]
	path = data/ML-KWS-for-MCU
	url = https://github.com/ARM-software/ML-KWS-for-MCU
