[submodule "data/SqueezeNet_vs_CIFAR10.git"]
	path = data/SqueezeNet_vs_CIFAR10
	url = https://github.com/yan12125/SqueezeNet_vs_CIFAR10
	ignore = untracked
[submodule "Tools"]
	path = Tools
	url = ssh://git@github.com/EMCLab-Sinica/Tools.git
[submodule "TI-DSPLib"]
	path = TI-DSPLib
	url = ssh://git@github.com/EMCLab-Sinica/DSPLib.git
