nvm.bin
samples.bin
*.pyc
/images/*
!/images/.keep
data.cpp
data.h
/data/cifar-10-python.tar.gz
/data/cifar-10-batches-py/
/data/MNIST/
/data/others.txt
/ARM-CMSIS/*
!/ARM-CMSIS/*.sh
/TI-DSPLib/*
!/TI-DSPLib/*.sh
!/TI-DSPLib/*.diff
/build/
/charts/chart-*

# CCS files
.launches/
